<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Maintenance</title>
  </head>
  <body>
    <h1>Site's broken</h1>
    <p>
      We'll be back soon. Site's being updated.
    </p>

    {{> footer}}
  </body>
</html>
