<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}

    <p>
      Here's where some projects are going to go. 
    </p>

    {{> footer}}
  </body>
</html>
